* {
  margin: 0;
  padding: 0;
}

@import "bootstrap.min.css";


$title-font: 'Oswald', sans-serif;
$main-font: 'Roboto', sans-serif;
$font-color: #000;
$service-numbers: #EA8733;
$shadow: 0.1px 0px 20px -6px rgba(0, 0, 0, 0.25);

@mixin title-font($size, $weight,) {
  font-weight: $weight;
  color: $font-color;
  font-size: $size;
  font-family: $title-font;
}

@mixin main-font($size, $weight,) {
  font-weight: $weight;
  color: $font-color;
  font-size: $size;
  font-family: $main-font;
}

@mixin txt-upper {
  text-transform: uppercase;
}

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  &:hover{
    color: $font-color;
  }
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.navbar-light {
  .navbar-toggler{
    border: none;
    color: transparent;
  }
}
.number {
  margin-left: 34px;
  @include title-font(1rem, 500);
  vertical-align: middle;
  @include max-screen(430px){
    display: none;
  }
}

.logo-number {

  @include max-screen(350px){
    display: flex;
    flex-direction: column;
  }
}

nav {
  li {
    @include txt-upper;
    text-align: end;
    margin: 0 15px;

    &:last-of-type {
      margin-right: 0;
    }

    @include max-screen(991px) {
      margin: 5px 15px;
      &:last-of-type {
        margin-right: 15px;
      }
    }

    a {
      text-decoration: none;
      @include title-font(1rem, 400);
      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

h6 {
  @include main-font(1rem, bold);
  color: $font-color;
  margin-bottom: 0;
  @include max-screen(768px){
    font-size: 15px;
  }
  @include max-screen(575px){
    font-size: 12px;
  }
}

.burger {
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
  width: 45px;
  height: 4px;
  background-color: $font-color;

  &:before {
    content: "";
    display: inline-block;
    border-radius: 5px;
    width: 45px;
    height: 4px;
    background-color: $font-color;
  }

  &:after {
    display: inline-block;
    content: "";
    border-radius: 5px;
    width: 45px;
    height: 4px;
    background-color: $font-color;
  }

}

.animated-icon2 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon2 span {
  background: $font-color;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
}
h3{
  @include title-font(56px,bold,);
  @include txt-upper;
  letter-spacing: 2px;
  @include max-screen(575px){
    font-size: 24px;
  }
}

.first-banner {
  padding-top: 82px;

  h1 {
    @include title-font(130px, 500,);
    line-height: 92%;
    text-transform: uppercase;
    letter-spacing: 0;
  }

  .add-letter {
    padding-left: 16rem;
  }

  .first-subtitle {
    padding-top: 117px;
    margin-bottom: 86px;
  }
  .back-pict {
    background-image: url("../images/firstpage-back.jpg");
    background-repeat: no-repeat;
    //background-position: right;
    //background-position: 64% 217px;
    background-position: 355px 135px;
  }
}
.equipo-section{
  padding-top: 40px;
  background: linear-gradient(90deg, rgba(146, 146, 146, 0.2) 0%, rgba(255, 255, 255, 0.5) 24.76%);
  h3{
    margin-bottom: 30px;
  }
  .comment-article{
    align-self: center;
  }
  article{
    padding: 30px;
    border-radius: 20px;
    box-shadow: $shadow;
    h4{
      @include main-font(24px,700);
      line-height: 150%;
    }
    .person-position{
      @include main-font(14px,400);
      color: #EA8733;
      line-height: 120%;
      margin-bottom: 50px;
    }
    .person-feedback{
      @include main-font(16px,500);
      line-height: 150%;
    }
  }
  .quote-img{
    flex-direction: row;
    align-self: start;
  }
  .person-img{
    display: flex;
  }
  .row{
    margin-bottom: 30px;
  }
//.container{
//  background-image: url("../images/team.jpg");
//  background-repeat: no-repeat;
//  background-size: cover;
//}
}

.geografia-section{
  padding-top: 150px;
  margin-bottom: 90px;
  h3{
    margin-top: 115px;
    margin-bottom: 70px;
  }
}
.m-width-425 {
  max-width: 425px;
}

.serv-img {
  @include max-screen(1200px){
    order: 1;
  }
}

.servicios-section {
  padding-bottom: 150px;

  h3 {
    margin-bottom: 70px;
    @include max-screen(575px){
      max-width: 80vw;
      margin-bottom: 24px;
    }
  }
  .service-unit {
    margin-bottom: 27px;
    @include max-screen(768px){
      margin-bottom: 12px;
    }

    min-height: 80px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: $shadow;
    padding: 16px 45px 16px 30px;
    @include max-screen(768px){
      flex-direction: column;
      min-height: 62px;
      padding: 5px 0 5px 5px;
      align-items: flex-start;
    }

    span {
      display: block;
      @include main-font(1.5rem, bold);
      @include max-screen(575px){
        font-size: 18px;
        line-height: normal;
      }
      color: $service-numbers;
      margin-right: 25px;
    }
  }
}



.ventajas-section {
  background: linear-gradient(90deg, rgba(146, 146, 146, 0.2) 0%, rgba(255, 255, 255, 0.5) 24.76%);
  padding-bottom: 28px;
  @include max-screen(768px){
    background: #fff;
  }
  h3 {
    margin: 40px 0 70px 0;
    @include max-screen(575px){
      margin-bottom: 24px;
    }
  }
  .ventajas-unit {
    &:nth-child(-n+3){
      @include max-screen(575px){
        display: none;
      }
    }
    @include max-screen(575px){
      margin-bottom: 24px;
    }
    &:first-child {
      margin-bottom: 50px;
    }
    p {
      @include main-font(0.9rem, 400);
      opacity: 0.6;
      margin-bottom: 0;
      margin-top: 10px;
    }

    .icon-vantajas {
      margin-left: -9px;
      margin-bottom: 3px;
    }
  }
  .ventajas-img {
    @include max-screen(1400px){
      margin-top: 93px;
    }
    @include max-screen(1200px){
      margin-top: 225px;
    }
    @include max-screen(992px){
      margin-top: 50px;
    }
    @include max-screen(575px){
      margin-top: 0;
    }
  }
}

.comentarios-section {
  background: linear-gradient(90deg, rgba(146, 146, 146, 0.2) 0%, rgba(255, 255, 255, 0.5) 24.76%);
  padding: 40px 0;
  .comentarios-unit {
    padding: 25px 57px 21px;
    border-radius: 20px;
    box-shadow: $shadow;
    @include max-screen(992px){
      margin-top: 24px;
    }
    .stars {
      margin-bottom: 35px;
    }
    .comentarios-txt {
      @include main-font(1rem, 400);
      @include max-screen(768px){
        font-size: 14px;
      }
      margin-bottom: 20px;
    }
    .comentarios-author {
      display: flex;
      img {
        margin-right: 14px;
        width: 100px;
        height: 100px;
        border-radius: 50px;
        overflow: hidden;
        @include max-screen(768px){
          width: 62px;
          height: 62px;
        }
      }
      p {
        padding-top: 25px;
        @include main-font(1.5rem, bold);
        @include max-screen(768px){
          font-size: 18px;
          padding-top: 20px;
        }
        span {
          @include main-font(14px, 400);
          color: #EA8733;
          @include max-screen(768px){
            font-size: 12px;
          }

        }
      }
    }
  }
}

footer {
  .container-fluid {
    margin: 0 -12px;
  }
  padding-top: 74px;

  a {
    display: block;
    max-width: 76px;
    margin-bottom: 44px;
    @include max-screen(430px){
      margin: 0 auto 28px;
    }
  }
  h5 {
    @include main-font(18px, bold);
    margin-bottom: 22px;
  }
  .contact-unit {
    margin-bottom: 32px;
    @include max-screen(430px){
      margin-bottom: 16px;
    }
    img {
      margin-right: 16px;
    }
    span {
      @include main-font(1rem, 400)
    }
  }
}